@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Work+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    109.6deg,
    rgb(245, 239, 249) 30.1%,
    rgb(207, 211, 236) 100.2%
  );
}
